.parent-list-style1 {
    background-color: #00b3b3;
    border-radius: 8px;
    margin: 1em;
    list-style: none;
    padding: .5em;
    font-size: 2em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    @include media-query($on-palm) {
        font-size: 1.2em;
        padding: 5px;
        margin: 10px 0px;
        font-weight: 600;
        width: 100%;
    }

    .child-list-style1 {
        list-style: none;
        font-size: 16px;

        @include media-query($on-palm) {
            font-size: 16px;
            margin: auto;
            font-weight: 400;
            width: 100%;
        }
    }
}

.parent-list-style1:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    @include media-query($on-palm) {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.emphasis1 {
    font-weight: 600;
    color: #00b3b3;
    font-size: 1.5em;
}

.parent-list-style2 {
    background-color: #FB8C00;
    border-radius: 8px;
    margin: 1em;
    list-style: none;
    padding: .5em;
    font-size: 2em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    @include media-query($on-palm) {
        font-size: 1.2em;
        padding: 5px;
        margin: 10px 0px;
        font-weight: 600;
        width: 100%;
    }

    .child-list-style2 {
        list-style: none;
        font-size: 16px;

        @include media-query($on-palm) {
            font-size: 16px;
            margin: auto;
            font-weight: 400;
            width: 100%;
        }
    }
}

.parent-list-style2:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.defclick {
    font-size: 14px;
    //text-decoration: underline;
    font-weight: 600;
    //padding:.25em .5em;
    text-align:center;
    cursor:pointer;
    background-color:#00b3b3;
    border:1px solid black;

}

.ui-widget-header {
    background: white;
    border: none;
}

.ui-dialog {
    .ui-dialog-title {
        background: white;
        border: none;
    }


    .ui-dialog-titlebar {
        background: white;
        border: none;
    }
}

.catbloc {
    font-weight: 600;
    display: none;
}

.allposts {
    display: block;
}

@-moz-keyframes slidedown {
    from {
        opacity: 0;
        -moz-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    to {
        opacity: 1;
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes slidedown {
    from {
        opacity: 0;
        -moz-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    to {
        opacity: 1;
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes slidedown {

    from {
        opacity: 0;
        -moz-transform: translate(0, -50px);
        -ms-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    to {
        opacity: 1;
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.postclick {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: #00b3b3;
    padding-right: .5em;
    padding-left: .5em;
    border-right-style: solid;
    border-right-width: 1px;
}

.postclick:hover {
    cursor: pointer;
}

.aboutlink {
    font-weight: 600;
    color: #00b3b3;
    text-decoration: none;
}

.aboutlink:visited {
    color: #00b3b3;
}

.aboutlink:hover {
    color: #00b3b3;
}

.modal {
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 9;
    background: wheat;
    max-height: 20em;
    max-width: 25em;
    color:black;
    text-align:left;
    padding:1em;
    #art{
        display:block;
        width:90%;
        margin:auto;
        color:black;
        padding-bottom:2em;
        a{
            text-decoration:none;
            color:#00b3b3;
            cursor:pointer;
        }
    }
    #close{
        color:white;
        background-color:#00b3b3;
        border:none;
        display:block;
        padding:1em 2em;
        text-align:center;
        cursor:pointer;
        float:right;
    }

}

.modalshow {
    visibility: visible;
}
.hide{
    display:none;
}
