.parent-list-style1{
    background-color: #00b3b3;
    border-radius: 8px;
    margin:1em;
    list-style: none;
    padding:.5em;
    font-size:2em;
     -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    @include media-query($on-palm){
        font-size:1.2em;
        padding:5px;
        margin:10px 0px;
        font-weight: 600;
        width:100%;
    }
    .child-list-style1{
        list-style:none;
        font-size: 16px;
        @include media-query($on-palm){
        font-size:16px;
        margin:auto;
        font-weight: 400;
        width:100%;
        }
    }
}
.parent-list-style1:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
}
.emphasis1{
    font-weight: 600;
    color:#00b3b3;
    font-size: 1.5em;
}
.parent-list-style2{
    background-color: #FB8C00;
    border-radius: 8px;
    margin:1em;
    list-style: none;
    padding:.5em;
    font-size:2em;
     -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    @include media-query($on-palm){
        font-size:1.2em;
        padding:5px;
        margin:10px 0px;
        font-weight: 600;
        width:100%;
    }
    .child-list-style2{
        list-style:none;
        font-size: 16px;
        @include media-query($on-palm){
        font-size:16px;
        margin:auto;
        font-weight: 400;
        width:100%;
        }
    }
}
.parent-list-style2:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
}